.numberCircle {
    border-radius: 50%;
    width: 80px;   /*adjust width */
    font-size: 60px ;
    border: 0px solid #0a762e;
    background-color: #0fbd49;
    color:white;
    text-decoration: bold;
}
.numberCircle span {
    text-align: center;
    line-height: 80px;  /* adjust height */
    display: block;

}

.subsummary {
    position:relative;
    top:-30px;
}

.relative {
    font-weight: bold;
    position: relative;
    top: -85px;
    left: 100px;
    padding-right: 100px;
  
}

.relative h2 {
    font-weight: bold;
    font-size: 2em;
}

.sec1{
    max-height: 130px;
}

.sectiontitle{
    font-weight: bold;
}
/* navbar */
.navbar-default {
    background-color: #0fbd49;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #d1fadf;
    background-color: #0fbd49;
    text-transform: uppercase;
    text-shadow: 0.7px 0.8px black;
    font-weight:bold;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #d1fadf;
    background-color: #0FBD49;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus:hover {
    color: #ffffff;
    background-color: #0a762e;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #d1fadf;
    background-color: #0fbd49;
}
 removing active hightlighting



.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #0a762e;

}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #d1fadf;
    border-bottom-color: #d1fadf;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

.navbar-brand-hidden {
	visibility: hidden;
}


.footer h4{
	color:#d1fadf;
}

.footer{

	background-color: #0FBD49;
}
 
.footer a{
	color: #d1fadf;
}

.footer .alllinks a{
    font-weight: ;
}
.footer2{

	background-color: #0f8a38;

}
 
.footer2 h5{
	color:#d1fadf;
	text-align: center;
}

/*social icons*/
@import url(http://fonts.googleapis.com/css?family=Lato);


.footer-social-icons {
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
    margin-left: 0; 
    padding: 0;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

/*socialover*/

.footer .well{
	background-color:#0a762e;
}

