{% extends "base.html" %}

{% block content %}
<div class="container">
    	<div class="row">
			
			<div class="col-md-12"><h1>Select Your Branch</h1>
		  
		  
				<div class="col-sm-6 col-xs-12 "> 
        			<section class="sec1">
        				<div class="numberCircle">
        					<span>1</span>
        				</div>
        				<div class="relative">
        					<a href="#"><h2>Computer Science</h2></a>
        				</div>
        			</section>
        		</div>

        		
        
     	 	</div>
    	</div>
</div>	


{% endblock %}