{% extends "base.html" %}

{% block content %}
<div class="container">
    	
        <div class="row">
			
			<div class="col-md-12"><h1 class="sectiontitle" align="center">SELECT YOUR BRANCH</h1>
		  
		  
				<div class="col-sm-6 col-xs-12 "> 
        			<div class="sec1">
        				<div class="numberCircle">
        					<span>1</span>
        				</div>
        				<div class="relative">
        					<a href="#"><h2>COMPUTER SCIENCE ENGINEERING</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: 121 | <span class="glyphicon glyphicon-duplicate"></span>Notes: 221
                            </div>
        				</div>
        			</div>

                    <div class="sec1">
                        <div class="numberCircle">
                            <span>3</span>
                        </div>
                        <div class="relative">
                            <a href="#"><h2>COMPUTER SCIENCE ENGINEERING</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: 121 | <span class="glyphicon glyphicon-duplicate"></span>Notes: 221
                            </div>
                        </div>
                    </div>

                    <div class="sec1">
                        <div class="numberCircle">
                            <span>5</span>
                        </div>
                        <div class="relative">
                            <a href="#"><h2>COMPUTER SCIENCE ENGINEERING</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: 121 | <span class="glyphicon glyphicon-duplicate"></span>Notes: 221
                            </div>
                        </div>
                    </div>

                    <div class="sec1">
                        <div class="numberCircle">
                            <span>7</span>
                        </div>
                        <div class="relative">
                            <a href="#"><h2>COMPUTER SCIENCE ENGINEERING</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: 121 | <span class="glyphicon glyphicon-duplicate"></span>Notes: 221
                            </div>
                        </div>
                    </div>

                    
        		</div>

                <div class="col-sm-6 col-xs-12 ">

                    <div class="sec1">
                        <div class="numberCircle">
                            <span>2</span>
                        </div>
                        <div class="relative">
                            <a href="#"><h2>COMPUTER SCIENCE ENGINEERING</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: 121 | <span class="glyphicon glyphicon-duplicate"></span>Notes: 221
                            </div>
                        </div>
                    </div>

                    <div class="sec1">
                        <div class="numberCircle">
                            <span>4</span>
                        </div>
                        <div class="relative">
                            <a href="#"><h2>COMPUTER SCIENCE ENGINEERING</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: 121 | <span class="glyphicon glyphicon-duplicate"></span>Notes: 221
                            </div>
                        </div>
                    </div>

                    <div class="sec1">
                        <div class="numberCircle">
                            <span>6</span>
                        </div>
                        <div class="relative">
                            <a href="#"><h2>COMPUTER SCIENCE ENGINEERING</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: 121 | <span class="glyphicon glyphicon-duplicate"></span>Notes: 221
                            </div>
                        </div>
                    </div>

                    <div class="sec1">
                        <div class="numberCircle">
                            <span>8</span>
                        </div>
                        <div class="relative">
                            <a href="#"><h2>COMPUTER SCIENCE ENGINEERING</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: 121 | <span class="glyphicon glyphicon-duplicate"></span>Notes: 221
                            </div>
                        </div>
                    </div>  

                </div>

        		<br>
        		<br>
        		<br>
        		<br>
        		<br>
        		<br><br>
        		<br>
        		<br>
        		<br>
        		<br>
        		<br><br>
        		<br>
        		<br>
        		<br>
        		<br>
        		<br><br>
        		<br>
        		<br>
        		<br>
        		<br>
        		<br><br>
        		<br>
        		<br>
        		<br>
        		<br>
        		<br>
        
     	 	</div>
    	</div>
</div>	


{% endblock %}